Указываем box sizing *,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.wrapper {
    /* background-color: blue; */
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%) scale(1);
    /* border: 1px black solid; */
    width: 70px;
    height: 70px;
    overflow: hidden;
    transition: 0.4s linear 0.3s, box-shadow 0.01s linear;
    animation: anime 0.5s infinite;
    cursor: pointer;
}

.leftpart {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 24px;
    width: 40px;
    transform: rotate(-45deg);
    background-color: #5636eb;
    transform-origin: left bottom;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 0.4s linear, height 0.4s linear, transform 0.4s linear 0.3s,
        box-shadow 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rigthpart {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 24px;
    width: 40px;
    transform: rotate(45deg);
    background-color: #5636eb;
    transform-origin: right bottom;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: width 0.4s linear, height 0.4s linear, transform 0.4s linear 0.3s;
}

.leftpart.anime {
    animation: animeleft 0.5s infinite;
}

.rigthpart.anime {
    animation: animeright 0.5s infinite;
}

.container.active {
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(500px - 2%);
    height: 500px;
    border-radius: 15px;
    transition: 0.4s linear, box-shadow 0.05s linear 0.65s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: none;
}

.leftpart.active {
    transform: translate(-1%, -50%) rotate(0deg);
    width: 250px;
    height: 500px;
    box-shadow: none;
    transition: transform 0.4s linear, height 0.4s linear 0.3s,
        width 0.4s linear 0.3s, box-shadow 0.01s;
    animation: paused;
}

.rigthpart.active {
    transform: translate(1%, -50%) rotate(0deg);
    width: 250px;
    height: 500px;
    transition: transform 0.4s linear, height 0.4s linear 0.3s,
        width 0.4s linear 0.3s;
    animation: paused;
}

@keyframes anime {
    0% {
        transform: translate(-50%, -100%) scale(1);
    }

    100% {
        transform: translate(-50%, -100%) scale(0.8);
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    font-size: 1em;
    overflow: hidden;
    transition: 0.3s linear;
    z-index: 2;
}

.center.active {
    width: 400px;
    height: 400px;
    transition: 0.2s linear 0.5s;
}

.center h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 28px;
    color: white;
}

.center li {
    text-align: center;
    margin-bottom: 12px;
    color: white;
    letter-spacing: 2px;
}